body {
    background-color: #ffffff;
    color: #1a1a1a;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: sans-serif;
}

body.oscuro {
    background-color: #1e1e1e;
    color: #f1f1f1;
}

